*{font-family: serif;
}

body{background-color: #56728398;
}

/* Clearing floats */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/* Mini reset, no margins, paddings or bullets */
.menu,
.submenu {
  margin: 0;
  padding: 0;
  list-style: none;
  
}

/* Main level */
.menu {			
  margin: 50px auto;
  width: 800px;
  /* http://www.red-team-design.com/horizontal-centering-using-css-fit-content-value */
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;	
}

.menu > li {
  background: #3CC4EF;
  float: left;
  position: relative;
  transform: skewX(25deg);
}

.menu a {
  display: block;
  color: #024e7a;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Arial, Helvetica;
  font-size: 14px;
}		

.menu li:hover {
  background:  #C6C3B9;
}		

.menu > li > a {
  transform: skewX(-25deg);
  padding: 1em 2em;
}

/* Dropdown */
.submenu {
  position: absolute;
  width: 200px;
  left: 50%; margin-left: -100px;
  transform: skewX(-25deg);
  transform-origin: left top;
}

.submenu li {
  background-color: #3CC4EF;
  position: relative;
  overflow: hidden;		
}						

.submenu > li > a {
  padding: 1em 2em;			
}

.submenu > li::after {
  content: '';
  position: absolute;
  top: -125%;
  height: 100%;
  width: 100%;			
  box-shadow: 0 0 50px rgba(0, 0, 0, .9);			
}		

/* Odd stuff */
.submenu > li:nth-child(odd){
  transform: skewX(-25deg) translateX(0);
}

.submenu > li:nth-child(odd) > a {
  transform: skewX(25deg);
}

.submenu > li:nth-child(odd)::after {
  right: -50%;
  transform: skewX(-25deg) rotate(3deg);
}				

/* Even stuff */
.submenu > li:nth-child(even){
  transform: skewX(25deg) translateX(0);
}

.submenu > li:nth-child(even) > a {
  transform: skewX(-25deg);
}

.submenu > li:nth-child(even)::after {
  left: -50%;
  transform: skewX(25deg) rotate(3deg);
}

/* Show dropdown */
.submenu,
.submenu li {
  opacity: 0;
  visibility: hidden;			
}

.submenu li {
  transition: .2s ease transform;
}

.menu > li:hover .submenu,
.menu > li:hover .submenu li {
  opacity: 1;
  visibility: visible;
}		

.menu > li:hover .submenu li:nth-child(even){
  transform: skewX(25deg) translateX(15px);			
}

.menu > li:hover .submenu li:nth-child(odd){
  transform: skewX(-25deg) translateX(-15px);			
}


.logo {
  text-align: center;
}
.logo img {
  width: auto;
  height: auto;
}
.title {
  font-size: 35px;
  padding-bottom: 10px;
  text-align: center;
  text-shadow: 10px 10px 15px #333 ;
  }


  

  footer {
    background-color: #00000036;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 14px;
  }
  footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }
  footer a:hover {
    color: #ddd;
  }
  .footer-links {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .footer-links a {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    font-size: 14px;
    transition: color 0.3s ease-in-out;
  }
  .footer-links a:hover {
    color: #ddd;
  }
  .footer-logo {
    display: block;
    margin: 15px;
    max-width: 100%;
    height: auto;
    width: 70px;
    float: left;
  }

  .sottotitolo {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 20px;
    text-align: center;
  }

 
    


    
    .container {
      display: flex;
      justify-content: space-between;
    }
    
    .left-column,
    .right-column {
      width: 45%;
    }
    
    .image-gallery {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    
    .image-gallery img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      margin: 20px;
    }
    
    .booking-form {
      display: flex;
      flex-direction: column;
    }
    
    .booking-form label {
      margin-bottom: 5px;
    }
    
    .booking-form input[type="text"],
    .booking-form input[type="email"],
    .booking-form input[type="date"] {
      margin-bottom: 10px;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    
    .booking-form input[type="submit"] {
      padding: 10px 15px;
      background-color: #333;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    .booking-form input[type="submit"]:hover {
      background-color: #555;
    }

    







    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }
    
    h1 {
      font-size: 36px;
      color: #333;
      text-align: center;
      margin-top: 0;
    }
    
    form {
      margin-top: 20px;
    }
    
    label {
      display: block;
      margin-bottom: 5px;
      font-size: 16px;
      color: #333;
    }
    
    input[type="text"],
    input[type="email"],
    select {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 20px;
      font-size: 16px;
      color: #333;
    }
    
    input[type="submit"] {
      background-color: #333;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 16px;}
  
    

      .container2 {
        background-color: #f4f4f4;
        padding: 20px;
        
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin: 4%;
      }
      
      h2 {
        font-size: 24px;
        margin-bottom: 10px;
      }
      
      p {
        font-size: 17px;
        line-height: 1.5;
        color: #333;
        margin-bottom: 15px;
      }
      